.navbar-usuario {
    width: 100%;
    padding: 5px 15px;
    background-color: #000;
}

.navbar-container-usuario {
    max-width: 1325px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-usuario img {
    height: 35px;
    
}

