.table-container {
    width: 80%;
    max-width: 900px;
    margin: 0px auto 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.table-citas {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table-citas th,
.table-citas td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table-citas th {
    background-color: #f9f9f9;
    font-weight: 600;
}
.boton-cancelar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.boton-cancelar:hover {
    background-color: #c0392b;
}
